.homeContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-between;
  align-items: flex-start;
  width: 80%;
  margin: auto;
  height: 85%;
  margin-top: 10px;
  flex-grow: 2;
}
